--find-links https://download.pytorch.org/whl/torch_stable.html

pandas==1.3.5
torch==2.6.0
torchdata==0.10.1
torchtext==0.18.0
spacy==3.2
altair==4.1
jupytext==1.13
flake8
black
GPUtil
wandb
transformers==4.49.0
numpy==2.2.3